.section-features {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.section-features h2 {
    margin-top: 3rem;
}

.features-container {
    width: 90vw;
}

.feat-container img {
    height: auto;
    margin-bottom: 1rem;
    width: 90vw;
}

.feat-container h5 {
    font-weight: 800;
    
    text-transform: none;
}

.feat-container p {
    font-size: 1.1rem;
}

.feat-container a {
    border: 2px solid #28aaff;
    margin: 3rem auto;
}
