.section-hero {
    background-size: auto;
    background-repeat: repeat;
    background: url('/images/diagonal-lines.svg');
    margin: 0 auto;
    /*max-width: 1120px;*/
    /*min-height: calc(100vh - (6rem + 4rem));*/
    display: flex;
    width: 100vw;
}

.hero {
    width: 100vw;
    opacity: 0.9;
    background-color: var(--hero-blue);
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}